mat-card {
    padding: 0px;
    border-radius: 16px;
    background-color: #e8eaf6;
    mat-toolbar {
      height: min-content;
      padding-top: 1%;
      padding-bottom: 1%;
      border-top-left-radius: 16px;
      border-top-right-radius: 16px;
      h1 {
        color: white;
        font-size: 32px;
        text-shadow: 1px 1px 2px black;
      }
      h2 {
        color: black;
        font-size: 16px;
        text-shadow: 0.5px 0.5px 1px white;
      }
    }
    form {
      padding-left: 2%;
      padding-right: 2%;
      padding-bottom: 1%;
      mat-card-actions mat-checkbox{
        font-weight: 500;
      }
    }
  }