<div fxLayout='column' fxFlex fxLayoutGap='4%'>
    <mat-card fxLayout='column' fxFlex class='mat-elevation-z3'>

        <mat-toolbar fxLayout='column' fxFlex fxLayoutAlign='start' color='accent'>
            <h1>Professor</h1>
            <h2>Filtro</h2>
        </mat-toolbar>

        <form fxLayout='row' fxFlex fxLayoutGap='4%' [formGroup]='professorSearchForm'>
            <mat-form-field fxFlex appearance='standard'>
                <mat-label>Nome</mat-label>
                <input type='text' matInput formControName='txtProfessorName' (keyup)='setNameValue($event)'>
            </mat-form-field>

            <mat-form-field fxFlex appearance='standard'>
                <mat-label>Documento</mat-label>
                <input type='text' matInput #professorDocument formControlName='txtProfessorDocument' (keyup)='setDocumentValue($event)'>
                <mat-hint *ngIf='professorDocument.value'>Somente números</mat-hint>
            </mat-form-field>

            <mat-card-actions fxLayoutAlign='center end' fxFlex fxLayoutGap='16%'>
                <mat-checkbox color='primary' formControlName='ckProfessorStatus' (change)='setStatusValue($event)'>
                    &nbsp;Inativos
                </mat-checkbox>
            </mat-card-actions>
        </form>
    </mat-card>
    <app-professor-table [nameValue]='nameValue' [documentValue]='documentValue' [statusValue]='statusValue'></app-professor-table>
</div>