<div fxLayout='column' fxFlex>
    <mat-card fxLayout='column' fxFlex class='mat-elevation-z3'>
        <mat-toolbar fxLayout='column' fxFlex fxLayoutAlign='start' color='accent'>
            <h1>Aluno</h1>
            <h2>{{ formBehaviorName }}</h2>
        </mat-toolbar>

        <form fxLayout='column' [formGroup]='studentForm'>
            <div fxLayout='row' fxFlex fxLayoutAlign='space-between' fxLayoutGap='4%'>

                <mat-form-field fxFlex appearance='standard'>
                    <mat-label>Nome</mat-label>
                    <input type='text' matInput #studentFirstName formControlName='txtStudentFirstName' 
                        maxlength='25' required />
                    <mat-error
                        *ngIf='studentForm.controls.txtStudentFirstName.touched && !studentForm.controls.txtStudentFirstName.valid'>
                        Preenchimento necessário
                    </mat-error>
                    <mat-hint *ngIf='studentFirstName.value' align='end'>
                        {{ studentFirstName.value.length }}/25
                    </mat-hint>
                </mat-form-field>

                <mat-form-field fxFlex appearance='standard'>
                    <mat-label>Sobrenome</mat-label>
                    <input type='text' matInput #studentLastName formControlName='txtStudentLastName' 
                        maxlength='40' />
                    <mat-hint *ngIf='studentLastName.value' align='end'>
                        {{ studentLastName.value.length }}/40
                    </mat-hint>
                </mat-form-field>

                <mat-form-field fxFlex appearance='standard'>
                    <mat-label>Data de nascimento</mat-label>
                    <input matInput [matDatepicker]='dpStudentBirth' formControlName='dtStudentBirthDate' />
                    <mat-datepicker-toggle matPrefix [for]='dpStudentBirth' disabled='false'></mat-datepicker-toggle>
                    <mat-datepicker #dpStudentBirth disabled='false'></mat-datepicker>
                    <mat-hint align='start'>Selecione</mat-hint>
                </mat-form-field>
            </div>

            <div fxLayout='row' fxFlex fxLayoutAlign='space-between' fxLayoutGap='4%'>

                <mat-form-field fxFlex appearance='standard'>
                    <mat-label>Documento</mat-label>
                    <mat-select #documentType formControlName='slStudentDocumentType' 
                        (selectionChange)='setDocumentMaskFormat()' required>
                        <mat-option *ngFor='let documentType of documentTypeArray'
                            [value]='documentType.documentTypeName'>
                            {{ documentType.documentTypeName }}
                        </mat-option>
                    </mat-select>
                    <mat-error
                        *ngIf='studentForm.controls.slStudentDocumentType.touched && !studentForm.controls.slStudentDocumentType.valid'>
                        Preenchimento necessário
                    </mat-error>
                </mat-form-field>

                <mat-form-field fxFlex appearance='standard'>
                    <mat-label>Nº Documento</mat-label>
                    <input type='text' matInput #documentNumber formControlName='txtStudentDocumentNumber' 
                        mask='{{ documentMask }}' required />
                    <mat-error
                        *ngIf='studentForm.controls.txtStudentDocumentNumber.touched && !studentForm.controls.txtStudentDocumentNumber.valid'>
                        Preenchimento necessário
                    </mat-error>
                </mat-form-field>

                <mat-form-field fxFlex appearance='standard'>
                    <mat-label>Telefone</mat-label>
                    <input type='text' matInput #phone formControlName='txtStudentPhone' mask='{{ phoneMask }}'
                        (keydown)='setPhoneMaskFormat()' />
                    <mat-icon matPrefix>phone</mat-icon>
                    <mat-error
                        *ngIf='studentForm.controls.txtStudentPhone.touched && !studentForm.controls.txtStudentPhone.valid'>
                        Verifique
                    </mat-error>
                </mat-form-field>

                <mat-form-field fxFlex appearance='standard'>
                    <mat-label>Email</mat-label>
                    <input type='email' matInput #studentEmail formControlName='txtStudentEmail' maxlength='50' />
                    <mat-icon matPrefix>alternate_email</mat-icon>
                    <mat-error
                        *ngIf='studentForm.controls.txtStudentEmail.touched && !studentForm.controls.txtStudentEmail.valid'>
                        Verifique
                    </mat-error>
                    <mat-hint *ngIf='studentEmail.value' align='end'>
                        {{ studentEmail.value.length }}/50
                    </mat-hint>
                </mat-form-field>
            </div>

            <mat-divider inset='true'></mat-divider>

            <app-address-form #addressComponent [addressInput]='studentAddress' (addressValue)='emitAddress($event)'
                (addressFormStatusEvent)='emitAddressFormStatus($event)'></app-address-form>

            <mat-card-actions fxLayout='row' fxFlex>
                <div fxLayout='row' fxFlex>
                    <button mat-button type='reset' color='warn' (click)='resetChildForm()'>Redefinir campos</button>
                </div>
                <div fxLayout='row' fxFlex fxLayoutAlign='end'>
                    <button mat-flat-button color='accent' [routerLink]='["/home"]'>Cancelar</button>
                    <button mat-flat-button color='accent' [routerLink]='["/student/search"]'
                        *ngIf='formBehaviorName === "Editar"'>
                        Voltar
                    </button>
                    <button mat-flat-button color='primary' (click)='emitSubmit()'>Registrar</button>
                </div>
            </mat-card-actions>
        </form>

    </mat-card>
</div>