<div fxFlex fxLayout='column' fxlayoutGap='2%'>
    <div #contentWrapper fxFlex fxLayout='column' fxLayoutGap='4%'>
        <div fxFlex fxLayout='row'>
            <label class='identifierLabel'>CEP:&nbsp;</label>
            <label class='dataLabel'>{{ professor.professorAddress?.addressZipCode }}</label>
        </div>
        <div fxFlex fxLayout='row'>
            <div fxLayout='row' fxFlex>
                <label class='identifierLabel'>Logradouro:&nbsp;</label>
                <label class='dataLabel'>{{ professor.professorAddress?.addressStreet }}</label>
            </div>
            <div fxLayout=row fxFlex='20%'>
                <label class='identifierLabel'>Nº:&nbsp;</label>
                <label class='dataLabel'>{{ professor.professorAddress?.addressNumber }}</label>
            </div>
            <div fxLayout=row fxFlex='25%'>
                <label class='identifierLabel'>Compl.:&nbsp;</label>
                <label class='dataLabel'>{{ professor.professorAddress?.addressComplement }}</label>
            </div>
        </div>
        <div fxFlex fxLayout='row'>
            <div fxLayout='row' fxFlex>
                <label class='identifierLabel'>Cidade:&nbsp;</label>
                <label class='dataLabel'>{{ professor.professorAddress?.addressCity }}</label>
            </div>
            <div fxLayout='row' fxFlex='45%'>
                <label class='identifierLabel'>Bairro:&nbsp;</label>
                <label class='dataLabel'>{{ professor.professorAddress?.addressNeighborhood }}</label>
            </div>
        </div>
    </div>
    <div #actionWrapper fxFlex fxLayout='column' fxLayoutAlign='end end' fxLayoutGap='1%'>
        <button mat-button mat-flat-button color='primary' matTooltip='ESC' (click)='doClose()'>
            <mat-icon color='accent'>close</mat-icon>
            Fechar
        </button>
        <mat-toolbar color='accent'></mat-toolbar>
    </div>
</div>