<div fxLayout='column' fxFlex fxLayoutGap='4%'>
    <mat-card fxLayout='column' fxFlex class='mat-elevation-z3'>

        <mat-toolbar fxLayout='column' fxFlex fxLayoutAlign='start' color='accent'>
            <h1>Aluno</h1>
            <h2>Filtro</h2>
        </mat-toolbar>

        <form fxLayout='row' fxFlex fxLayoutGap='4%' [formGroup]='studentSearchForm'>
            <mat-form-field fxFlex appearance='standard'>
                <mat-label>Nome</mat-label>
                <input type='text' matInput formControlName='txtStudentName' (keyup)='setNameValue($event)'>
            </mat-form-field>

            <mat-form-field fxFlex appearance='standard'>
                <mat-label>Documento</mat-label>
                <input type='text' matInput #studentDocument formControlName='txtStudentDocument' (keyup)='setDocumentValue($event)'>
                <mat-hint *ngIf='studentDocument.value'>Somente números</mat-hint>
            </mat-form-field>

            <mat-card-actions fxLayoutAlign='center end' fxFlex>
                <mat-checkbox color='primary' formControlName='ckStudentStatus' (change)='setStatusValue($event)'>
                    &nbsp;Inativos
                </mat-checkbox>
            </mat-card-actions>
        </form>
    </mat-card>
    <app-student-table [nameValue]='nameValue' [documentValue]='documentValue' [statusValue]='statusValue'></app-student-table>
</div>