<div fxLayout='column' fxFlex>
    <mat-card fxLayout='column' fxFlex class='mat-elevation-z3'>
        <mat-toolbar fxLayout='row' fxFlex color='primary'>
            <h1 *ngIf='materialTableHasData'>Registros</h1>
            <h1 *ngIf='!materialTableHasData'>Não há registros para dispor</h1>
        </mat-toolbar>

        <table mat-table [dataSource]='materialTableDataSource'>

            <ng-container matColumnDef='active' id='active'>
                <th mat-header-cell *matHeaderCellDef>ATIVO</th>
                <td mat-cell *matCellDef='let material'>
                    <mat-checkbox [checked]='material.materialIsActive' [disabled]='true'></mat-checkbox>
                </td>
                <td mat-footer-cell *matFooterCellDef id='tableFooterLeftEnd'></td>
            </ng-container>

            <ng-container matColumnDef='name'>
                <th mat-header-cell *matHeaderCellDef>NOME</th>
                <td mat-cell *matCellDef='let material'>{{ material.materialName }}</td>
                <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>

            <ng-container matColumnDef='category'>
                <th mat-header-cell *matHeaderCellDef>CATEGORIA(S)</th>
                <td mat-cell *matCellDef='let material'>{{ material | materialTableCategoryCellPipe}}</td>
                <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>

            <ng-container matColumnDef='stock'>
                <th mat-header-cell *matHeaderCellDef>ESTOQUE &nbsp;(MÍNIMO)</th>
                <td mat-cell *matCellDef='let material'>
                    {{ material.materialStock?.stockQuantity }}&nbsp;&nbsp;({{ material.materialStock?.stockMinimum }})
                </td>
                <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>

            <ng-container matColumnDef='price'>
                <th mat-header-cell *matHeaderCellDef>PREÇO</th>
                <td mat-cell *matCellDef='let material'>R${{ material.materialSellingPrice }}</td>
                <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>

            <ng-container matColumnDef='actions'>
                <th mat-header-cell *matHeaderCellDef>AÇÕES</th>
                <td mat-cell *matCellDef='let actionMaterial'>
                    <button mat-icon-button [matMenuTriggerFor]='actionsMenu'>
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #actionsMenu='matMenu'>
                        <button mat-menu-item>
                            <mat-icon color='warn'>delete</mat-icon>
                            Delete
                        </button>
                    </mat-menu>
                </td>
                <td mat-footer-cel *matFooterCellDef id='tableFooterRightEnd'></td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef='columnsToDisplay'></tr>
            <tr mat-row *matRowDef='let row; columns: columnsToDisplay'></tr>
            <tr mat-footer-row *matFooterRowDef='columnsToDisplay'></tr>
        </table>

    </mat-card>
    <mat-paginator [pageSizeOptions]='[5, 10, 20, 30]'></mat-paginator>
</div>