<div fxLayout='column' fxFlex>
    <mat-card fxLayout='column' fxFlex class='mat-elevation-z3'>
        <mat-toolbar fxLayout='column' fxFlex fxLayoutAlign='start' color='accent'>
            <h1>Categoria</h1>
            <h2>{{ formBehaviorName }}</h2>
        </mat-toolbar>

        <form fxLayout='column' [formGroup]='categoryForm'>

            <mat-form-field fxFlex appearance='standard'>
                <mat-label>Nome</mat-label>
                <input type='text' matInput #categoryName formControlName='txtCategoryName' maxlength='30' required />
                <mat-hint *ngIf='categoryName.value' align='end'>
                    {{ categoryName.value.length }}/30
                </mat-hint>
            </mat-form-field>

            <mat-form-field fxFlex appearance='standard'>
                <mat-label>Descrição</mat-label>
                <textarea matInput #categoryDescription formControlName='txaCategoryDescription'
                    maxlength='300'></textarea>
                <mat-hint *ngIf='categoryDescription.value' align='end'>
                    {{ categoryDescription.value.length }}/300
                </mat-hint>
            </mat-form-field>

            <mat-card-actions fxLayout='row' fxFlex>
                <div fxLayout='row' fxFlex>
                    <button mat-button type='reset' color='warn'>Redefinir campos</button>
                </div>
                <div fxLayout='row' fxFlex fxLayoutAlign='end'>
                    <button mat-flat-button color='accent' [routerLink]='["/home"]'>
                        Cancelar
                    </button>
                    <button mat-flat-button color='accent' [routerLink]='["/category/search"]'
                        *ngIf='formBehaviorName === "Editar"'>
                        Voltar
                    </button>
                    <button mat-flat-button color='primary' (click)='emitSubmit()'>
                        Registrar
                    </button>
                </div>
            </mat-card-actions>
        </form>
    </mat-card>
</div>