<div fxLayout='column' fxFlex fxLayoutGap='4%'>
    <mat-card fxLayout='column' fxFlex class='mat-elevation-z3'>

        <mat-toolbar fxLayout='column' fxFlex fxLayoutAlign='start' color='accent'>
            <h1>Categoria</h1>
            <h2>Filtro</h2>
        </mat-toolbar>

        <form fxLayout='row' fxFlex fxLayoutGap='4%' [formGroup]='materialCategoryFilterForm'>
            <mat-form-field fxFlex appearance='standard'>
                <mat-label>Nome</mat-label>
                <input type='text' matInput formControlName='txtCategoryName' (keyup)='setNameValue($event)' />
            </mat-form-field>

            <mat-card-actions fxLayoutAlign='center end' fxFlex fxLayoutGap='16%'>
                <mat-checkbox color='primary' formControlName='ckCategoryStatus' (change)='setStatusValue($event)'>
                    &nbsp;Inativos
                </mat-checkbox>
            </mat-card-actions>

        </form>
    </mat-card>
    <app-material-category-table [nameValue]='nameValue' [statusValue]='statusValue'></app-material-category-table>
</div>