<div fxLayout='column' fxFlex fxLayoutGap='2%'>
    <div id='contentWrapper' fxFlex fxLayoutGap='4%'>
        {{ materialCategory.materialCategoryDescription ? materialCategory.materialCategoryDescription : '-' }}
    </div>
    <div #actionWrapper fxLayout='column' fxFlex fxLayoutAlign='end end' fxLayoutGap='1%'>
        <button mat-flat-button color='primary' matTooltip='ESC' (click)='doClose()'>
            <mat-icon color='accent'>close</mat-icon>
            Fechar
        </button>
        <mat-toolbar color='accent'></mat-toolbar>
    </div>
</div>