<form fxLayout='column' [formGroup]='addressForm'>
    <div fxFlex fxLayout='row' fxLayoutGap='4%'>

        <mat-form-field fxFlex appearance='standard'>
            <mat-label>CEP</mat-label>
            <input matInput type='text' formControlName='txtAddressZipCode' mask='00000-000' required>
            <button mat-button mat-icon-button matSuffix>
                <mat-icon>search</mat-icon>
            </button>
        </mat-form-field>

        <mat-form-field fxFlex appearance='standard'>
            <mat-label>Logradouro</mat-label>
            <input matInput type='text' formControlName='txtAddressStreet' required>
        </mat-form-field>

        <mat-form-field fxFlex appearance='standard'>
            <mat-label>Número</mat-label>
            <input matInput type='text' formControlName='txtAddressNumber' required>
        </mat-form-field>
    </div>
    <div fxFlex fxLayout='row' fxLayoutGap='4%'>
        <mat-form-field fxFlex appearance='standard'>
            <mat-label>Cidade</mat-label>
            <input matInput type='text' formControlName='txtAddressCity'>
        </mat-form-field>

        <mat-form-field fxFlex appearance='standard'>
            <mat-label>Bairro</mat-label>
            <input matInput type='text' formControlName='txtAddressNeighborhood'>
        </mat-form-field>

        <mat-form-field fxFlex appearance='standard'>
            <mat-label>Complemento</mat-label>
            <input matInput type='text' formControlName='txtAddressComplement'>
        </mat-form-field>
    </div>
</form>
