<div fxLayout='column' fxFlex>
    <mat-card fxLayout='column' fxFlex class='mat-elevation-z3'>
        <mat-toolbar fxLayout='column' fxFlex fxLayoutAlign='start' color='accent'>
            <h1>Professor</h1>
            <h2>{{ formBehaviorName }}</h2>
        </mat-toolbar>

        <form fxLayout='column' [formGroup]='professorForm'>
            <div fxLayout='row' fxFlex fxLayoutAlign='space-between' fxLayoutGap='4%'>

                <mat-form-field fxFlex appearance='standard'>
                    <mat-label>Nome</mat-label>
                    <input type='text' matInput #professorFirstName formControlName='txtProfessorFirstName'
                        maxlength='25' required />
                    <mat-error
                        *ngIf='professorForm.controls.txtProfessorFirstName.touched && !professorForm.controls.txtProfessorFirstName.valid'>
                        Preenchimento necessário
                    </mat-error>
                    <mat-hint *ngIf='professorFirstName.value' align='end'>
                        {{ professorFirstName.value.length }}/25
                    </mat-hint>
                </mat-form-field>

                <mat-form-field fxFlex appearance='standard'>
                    <mat-label>Sobrenome</mat-label>
                    <input type='text' matInput #professorLastName formControlName='txtProfessorLastName'
                        maxlength='40' />
                    <mat-hint *ngIf='professorLastName.value' align='end'>
                        {{ professorLastName.value.length }}/40
                    </mat-hint>
                </mat-form-field>

                <mat-form-field fxFlex appearance='standard'>
                    <mat-label>Data de nascimento</mat-label>
                    <input matInput [matDatepicker]='dpProfessorBirth' formControlName='dtProfessorBirthDate' />
                    <mat-datepicker-toggle matPrefix [for]='dpProfessorBirth' disabled='false'></mat-datepicker-toggle>
                    <mat-datepicker #dpProfessorBirth disabled='false'></mat-datepicker>
                    <mat-hint align='start'>Selecione</mat-hint>
                </mat-form-field>
            </div>

            <div fxLayout='row' fxFlex fxLayoutAlign='space-between' fxLayoutGap='4%'>

                <mat-form-field fxFlex appearance='standard'>
                    <mat-label>Documento</mat-label>
                    <mat-select #documentType formControlName='slProfessorDocumentType'
                        (selectionChange)='setDocumentMaskFormat()' required>
                        <mat-option *ngFor='let documentType of documentTypeArray'
                            [value]='documentType.documentTypeName'>
                            {{ documentType.documentTypeName }}
                        </mat-option>
                    </mat-select>
                    <mat-error
                        *ngIf='professorForm.controls.slProfessorDocumentType.touched && !professorForm.controls.slProfessorDocumentType.valid'>
                        Preenchimento necessário
                    </mat-error>
                </mat-form-field>

                <mat-form-field fxFlex appearance='standard'>
                    <mat-label>Nº Documento</mat-label>
                    <input type='text' matInput #documentNumber formControlName='txtProfessorDocumentNumber'
                        mask='{{ documentMask }}' required />
                    <mat-error
                        *ngIf='professorForm.controls.txtProfessorDocumentNumber.touched && !professorForm.controls.txtProfessorDocumentNumber.valid'>
                        Preenchimento necessário
                    </mat-error>
                </mat-form-field>

                <mat-form-field fxFlex appearance='standard'>
                    <mat-label>Telefone</mat-label>
                    <input type='text' matInput #phone formControlName='txtProfessorPhone' mask='{{ phoneMask }}'
                        (keydown)='setPhoneMaskFormat()' />
                    <mat-icon matPrefix>phone</mat-icon>
                    <mat-error
                        *ngIf='professorForm.controls.txtProfessorPhone.touched && !professorForm.controls.txtProfessorPhone.valid'>
                        Verifique
                    </mat-error>
                </mat-form-field>

                <mat-form-field fxFlex appearance='standard'>
                    <mat-label>Email</mat-label>
                    <input type='email' matInput #professorEmail formControlName='txtProfessorEmail' maxlength='50'>
                    <mat-icon matPrefix>alternate_email</mat-icon>
                    <mat-error
                        *ngIf='professorForm.controls.txtProfessorEmail.touched && !professorForm.controls.txtProfessorEmail.valid'>
                        Verifique
                    </mat-error>
                    <mat-hint *ngIf='professorEmail.value' align='end'>
                        {{ professorEmail.value.length }}/50
                    </mat-hint>
                </mat-form-field>
            </div>

            <mat-divider inset='true'></mat-divider>

            <app-address-form #addressComponent [addressInput]='professorAddress' (addressValue)='emitAddress($event)'
                (addressFormStatusEvent)='emitAddressFormStatus($event)'></app-address-form>

            <mat-card-actions fxLayout='row' fxFlex>
                <div fxLayout='row' fxFlex>
                    <button mat-button type='reset' color='warn' (click)='resetChildForm()'>Redefinir campos</button>
                </div>
                <div fxLayout='row' fxFlex fxLayoutAlign='end'>
                    <button mat-flat-button color='accent' [routerLink]='["/home"]'>Cancelar</button>
                    <button mat-flat-button color='accent' [routerLink]='["/professor/search"]'
                        *ngIf='formBehaviorName === "Editar"'>
                        Voltar
                    </button>
                    <button mat-flat-button color='primary' (click)='emitSubmit()'>Registrar</button>
                </div>
            </mat-card-actions>
        </form>

    </mat-card>
</div>