<div fxLayout='column' fxFlex>
    <mat-card fxLayout='column' fxFlex class='mat-elevation-z3'>
        <mat-toolbar fxLayout='row' fxFlex color='primary'>
            <h1 *ngIf='studentTableHasData'>Resultado</h1>
            <h1 *ngIf='!studentTableHasData'>Não há registros para dispor</h1>
        </mat-toolbar>

        <table mat-table [dataSource]='studentTableDataSource | studentTable: nameValue : documentValue : statusValue : tablePaginator' *ngIf='studentTableHasData'>

            <ng-container matColumnDef='active'>
                <th mat-header-cell *matHeaderCellDef>ATIVO</th>
                <td mat-cell *matCellDef='let student'>
                    <mat-checkbox [checked]=student.studentIsActive [disabled]=true></mat-checkbox>
                </td>
                <td mat-footer-cell *matFooterCellDef id='tableFooterLeftEnd'></td>
            </ng-container>

            <ng-container matColumnDef='name'>
                <th mat-header-cell *matHeaderCellDef>NOME</th>
                <td mat-cell *matCellDef='let student'>{{ getStudentFullName(student) }}</td>
                <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>

            <ng-container matColumnDef='birth'>
                <th mat-header-cell *matHeaderCellDef>NASCIMENTO</th>
                <td mat-cell *matCellDef='let student'>{{ student.studentBirthDate | date: 'dd/MM/yyyy' }}</td>
                <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>

            <ng-container matColumnDef='documentType'>
                <th mat-header-cell *matHeaderCellDef>DOCUMENTAÇÃO</th>
                <td mat-cell *matCellDef='let student' class='center-txt'>{{ student.studentDocumentType }}</td>
                <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>

            <ng-container matColumnDef='documentNumber'>
                <th mat-header-cell *matHeaderCellDef>DOCUMENTO</th>
                <td mat-cell *matCellDef='let student'>{{ student.studentDocumentNumber }}</td>
                <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>

            <ng-container matColumnDef='phone'>
                <th mat-header-cell *matHeaderCellDef>TELEFONE</th>
                <td mat-cell *matCellDef='let student'>{{ student.studentPhone }}</td>
                <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>

            <ng-container matColumnDef='email'>
                <th mat-header-cell *matHeaderCellDef>EMAIL</th>
                <td mat-cell *matCellDef='let student'>{{ student.studentEmail }}</td>
                <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>

            <ng-container matColumnDef='actions'>
                <th mat-header-cell *matHeaderCellDef>AÇÕES</th>
                <td mat-cell *matCellDef='let actionStudent'>
                    <button mat-icon-button [matMenuTriggerFor]='actionsMenu'>
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #actionsMenu='matMenu'>
                        <button mat-menu-item>
                            <mat-icon color='primary'>people_alt</mat-icon>
                            &nbsp;Classes
                        </button>
                        <button mat-menu-item>
                            <mat-icon color='primary'>show_chart</mat-icon>
                            &nbsp;Desempenho
                        </button>
                        <button mat-menu-item (click)='openStudentAddressDialog(actionStudent)'>
                            <mat-icon color='primary'>visibility</mat-icon>
                            &nbsp;Endereço
                        </button>
                        <button mat-menu-item [routerLink]='["/student/edit/", actionStudent.studentId]'>
                            <mat-icon color='primary'>edit</mat-icon>
                            &nbsp;Editar
                        </button>
                        <button mat-menu-item (click)='toggleStudentActiveStatus(actionStudent)'>
                            <mat-icon color='primary'>{{ actionStudent.studentIsActive ? 'toggle_off' : 'toggle_on' }}</mat-icon>
                            &nbsp;{{ !actionStudent.studentIsActive ? 'Ativar' : 'Inativar' }}
                        </button>
                        <button mat-menu-item (click)='deleteStudent(actionStudent.studentId)'>
                            <mat-icon color='warn'>delete</mat-icon>
                            &nbsp;Excluir
                        </button>
                    </mat-menu>
                </td>
                <td mat-footer-cell *matFooterCellDef id='tableFooterRightEnd'></td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef='columnsToDisplay'></tr>
            <tr mat-row *matRowDef='let row; columns: columnsToDisplay;'></tr>
            <tr mat-footer-row *matFooterRowDef='columnsToDisplay'></tr>
        </table>
    </mat-card>
    <mat-paginator [pageSizeOptions]='[5, 10, 20, 30]'></mat-paginator>
</div>