table {
    width: 100%;
    background-color: #fff8e1;
}

mat-card {
    padding: 0px;
    border-radius: 16px;
    mat-toolbar {
        height: fit-content;
        border-radius: 16px;
        h1 {
            text-shadow: 0.5px 0.5px 1px #ffa000;
        }
        mat-checkbox {
            color: white;
        }
    }
    table {
        border-bottom-left-radius: 16px;
        border-bottom-right-radius: 16px;
        th {
            font-weight: 600;
        }
        tr.mat-footer-row {
            height: 16px;
        }
        #tableFooterLeftEnd {
            border-bottom-left-radius: 16px;
        }
        #tableFooterRightEnd {
            border-bottom-right-radius: 16px;
        }
    }
}

button.mat-menu-item {
    font-weight: 500;
}

.center-txt{
    padding-left: 32px;
}
