<!--Toolbar and its primary menu-->
<mat-toolbar fxFlex fxLayout='row' color='primary'>
    <div matTooltip='Home' matTooltipPosition='right'>
        <a href='#' fxLayout='row'>
            <mat-icon color='accent' fxFlexAlign='center'>house</mat-icon>
            <h1>&nbsp;English House</h1>
        </a>
    </div>
    <div fxFlex fxLayoutAlign='center'>

        <button mat-button [matMenuTriggerFor]='studentMenu'>
            <mat-icon color='accent'>person</mat-icon>
            Aluno
            <mat-icon>keyboard_arrow_down</mat-icon>
        </button>

        <button mat-button [matMenuTriggerFor]='classMenu'>
            <mat-icon color='accent'>people_alt</mat-icon>
            Classe
            <mat-icon>keyboard_arrow_down</mat-icon>
        </button>

        <button mat-button [matMenuTriggerFor]='schoolMenu'>
            <mat-icon color='accent'>business</mat-icon>
            Escola
            <mat-icon>keyboard_arrow_down</mat-icon>
        </button>

    </div>
    <div fxFlex='10%' fxLayoutAlign='end'>
        <button mat-button [matMenuTriggerFor]='optionsMenu'>
            <mat-icon color='accent'>settings</mat-icon>
            <mat-icon>keyboard_arrow_down</mat-icon>
        </button>
    </div>
</mat-toolbar>

<!--Submenus-->
<mat-menu #studentMenu='matMenu'>
    <button mat-menu-item [routerLink]="['/student/search']">
        <mat-icon color='primary'>
            search
        </mat-icon>
        Consultar
    </button>
    <button mat-menu-item [routerLink]="['/student/new']">
        <mat-icon color='primary'>
            add
        </mat-icon>
        Novo Aluno
    </button>
</mat-menu>

<mat-menu #classMenu='matMenu'>
    <button mat-menu-item>
        <mat-icon color='primary'>
            search
        </mat-icon>
        Consultar
    </button>
    <button mat-menu-item>
        <mat-icon color='primary'>
            add
        </mat-icon>
        Nova Classe
    </button>
</mat-menu>

<mat-menu #schoolMenu='matMenu'>
    <button mat-menu-item [matMenuTriggerFor]='courseMenu'>
        <mat-icon color='primary'>school</mat-icon>
        Curso
    </button>
    <button mat-menu-item [matMenuTriggerFor]='financeMenu'>
        <mat-icon color='primary'>
            monetization_on
        </mat-icon>
        Finanças
    </button>
    <button mat-menu-item [matMenuTriggerFor]='materialMenu'>
        <mat-icon color='primary'>
            book
        </mat-icon>
        Material
    </button>
    <button mat-menu-item [matMenuTriggerFor]='professorMenu'>
        <mat-icon color='primary'>
            assignment_ind
        </mat-icon>
        Professor
    </button>
</mat-menu>


<mat-menu #courseMenu>

</mat-menu>

<mat-menu #financeMenu>
    <button mat-menu-item>
        <mat-icon color='primary'>
            attach_money
        </mat-icon>
        Entradas
    </button>
    <button mat-menu-item>
        <mat-icon color='primary'>
            money_off
        </mat-icon>
        Saídas
    </button>
</mat-menu>



<mat-menu #materialMenu='matMenu'>
    <button mat-menu-item [matMenuTriggerFor]='materialCategoryMenu'>
        <mat-icon color='primary'>
            category
        </mat-icon>
        Categoria
    </button>
    <button mat-menu-item [routerLink]='["/material/search"]'>
        <mat-icon color='primary'>
            search
        </mat-icon>
        Estoque
    </button>
    <button mat-menu-item [routerLink]='["/material/new"]'>
        <mat-icon color='primary'>
            add
        </mat-icon>
        Novo Material
    </button>
</mat-menu>

<mat-menu #materialCategoryMenu='matMenu'>
    <button mat-menu-item [routerLink]='["/category/search"]'>
        <mat-icon color='primary'>
            search
        </mat-icon>
        Consultar
    </button>
    <button mat-menu-item [routerLink]='["/category/new"]'>
        <mat-icon color='primary'>
            add
        </mat-icon>
        Nova Categoria
    </button>
</mat-menu>


<mat-menu #professorMenu='matMenu'>
    <button mat-menu-item [routerLink]='["/professor/search"]'>
        <mat-icon color='primary'>
            search
        </mat-icon>
        Consultar
    </button>
    <button mat-menu-item [routerLink]='["/professor/new"]'>
        <mat-icon color='primary'>
            add
        </mat-icon>
        Novo Professor
    </button>
</mat-menu>


<mat-menu #optionsMenu='matMenu'>
    <button mat-menu-item>
        <mat-icon color='primary'>
            help_outline
        </mat-icon>
        Ajuda
    </button>
    <button mat-menu-item>
        <mat-icon color='primary'>
            info_outline
        </mat-icon>
        Sobre
    </button>
</mat-menu>