<div fxLayout='column' fxFlex>
    <mat-card fxLayout='column' fxFlex class='mat-elevation-z3'>
        <mat-toolbar fxLayout='column' fxFlex fxLayoutAlign='start' color='accent'>
            <h1>Material</h1>
            <h2>{{ formBehaviorName }}</h2>
        </mat-toolbar>

        <form fxLayout='column' [formGroup]='materialForm'>

            <mat-tab-group mat-stretch-tabs>

                <mat-tab label='Dados'>

                    <div fxFlex>
                        <div fxLayout='column'  fxFlex='70%'>
                            <mat-form-field fxFlex appearance='standard'>
                                <mat-label>Nome</mat-label>
                                <input type='text' matInput #materialName formControlName='txtMaterialName'
                                    maxlength='30' required />
                                <mat-hint *ngIf='materialName.value' align='end'>
                                    {{ materialName.value.length }}/30
                                </mat-hint>
                                <mat-error
                                    *ngIf='materialForm.controls.txtMaterialName.touched && !materialForm.controls.txtMaterialName.valid'>
                                    Preenchimento necessário!
                                </mat-error>
                            </mat-form-field>

                            <mat-form-field fxFlex appearance='standard'>
                                <mat-label>Descrição</mat-label>
                                <textarea matInput #materialDescription
                                    formControlName='txtMaterialDescription' maxLength='300'>
                                </textarea>
                                <mat-hint *ngIf='materialDescription.value' align='end'>
                                    {{ materialDescription.value.length }}/300
                                </mat-hint>
                            </mat-form-field>
                        </div>

                        <mat-divider [vertical]='true'></mat-divider>

                        <div fxLayout='column' fxFlex fxLayoutAlign='center'>
                            <h3 fxFlexAlign='center'>Categorias</h3>
                            <mat-selection-list (selectionChange)='setSelectedCategories($event)'>
                                <mat-list-option *ngFor='let category of categoryArray' [value]='category'>
                                    {{ category.materialCategoryName }}
                                </mat-list-option>
                            </mat-selection-list>
                        </div>
                    </div>

                </mat-tab>

                <mat-tab label='Estoque'>

                    <div fxLayout='row' fxLayoutGap='8%'>
                        <div fxFlex fxLayout='row'>
                            <mat-checkbox fxFlexAlign='center' formControlName='cbStartingStock' (change)='toggleStartingStock($event)'>&nbsp;</mat-checkbox>
                            <mat-form-field fxFlex appearance='standard'>
                                <mat-label>Quantidade inicial</mat-label>
                                <input type='number' matInput formControlName='txtMaterialStartingStock' />
                                <mat-icon matSuffix
                                    matTooltip='e.g. caso haja itens já disponíveis e sem nota para dar entrada.'>
                                    help
                                </mat-icon>
                            </mat-form-field>
                        </div>

                        <div fxFlex fxLayout='row'>
                            <mat-checkbox fxFlexAlign='center' formControlName='cbMinimumStock' (change)='toggleMinimumStock($event)'>&nbsp;</mat-checkbox>
                            <mat-form-field fxFlex appearance='standard'>
                                <mat-label>Quantidade mínima</mat-label>
                                <input type='number' matInput formControlName='txtMaterialMinimumStock' />
                                <mat-icon matSuffix
                                    matTooltip='O sistema notificará caso o estoque esteja abaixo do indicado.'>
                                    help
                                </mat-icon>
                            </mat-form-field>
                        </div>
                    </div>

                </mat-tab>

                <mat-tab label='Financeiro'>
                    <div fxFlex fxLayoutAlign='space-between'>
                        <div fxFlexAlign='center'>
                            <mat-checkbox fxFlexAlign='center' formControlName='cbSaleAvailability' (change)='toggleSaleAvailability($event)'>
                                Disponibilizar material para venda
                            </mat-checkbox>
                        </div>

                        <div>
                            <mat-form-field fxFlex appearance='standard'>
                                <mat-label>Valor de venda</mat-label>
                                <input type='text' matInput #sellingPrice mask='separator.2' thousandSeparator='.' formControlName='txtMaterialSellingPrice'>
                                <mat-icon matPrefix color='primary'>attach_money</mat-icon>
                                <mat-error></mat-error>
                            </mat-form-field>
                        </div>

                    </div>
                </mat-tab>
            </mat-tab-group>

            <mat-card-actions fxLayout='row' fxFlex>
                <div fxLayout='row' fxFlex>
                    <button mat-button type='reset' color='warn'>Redefinir campos</button>
                </div>
                <div fxLayout='row' fxFlex fxLayoutAlign='end'>
                    <button mat-flat-button color='accent' [routerLink]='["/home"]'>
                        Cancelar
                    </button>
                    <button mat-flat-button color='accent' [routerLink]='["/material/search"]'
                        *ngIf='formBehaviorName === "Editar"'>
                        Voltar
                    </button>
                    <button mat-flat-button color='primary' (click)='emitSubmit()'>
                        Registrar
                    </button>
                </div>
            </mat-card-actions>
        </form>
    </mat-card>
</div>