mat-card {
    padding: 0px;
    border-radius: 16px;
    background-color: #e8eaf6;
    mat-toolbar {
        height: min-content;
        padding-top: 1%;
        padding-bottom: 1%;
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
        h1 {
            color: white;
            font-size: 32px;
            text-shadow: 1px 1px 2px black;
        }
        h2 {
            color: black;
            font-size: 16px;
            text-shadow: 0.5px 0.5px 1px white;
        }
    }
    form {
        padding: 2%;
        mat-tab-group{
            min-height: 250px;
        }
        mat-divider{
            margin-left: 3%;
            margin-top: 1%;
            margin-right: 1%;
            margin-bottom: 1%;
        }
        h3{
            font-weight: 590;
            font-size: 18px;
            text-shadow: 0.5px 0.5px 1px white;
        }
    }
    mat-card-actions button {
        margin-right: 2%;
    }
}