<div fxFlex fxLayout='column' fxLayoutGap='2%'>
  <mat-card fxFlex fxLayout='row' class='mat-elevation-z6'>
      <mat-toolbar fxFlex color='accent'>
         <h1 fxFlex>Bem-vindo, Xyz</h1>
         <h2 fxFlex fxLayoutAlign='end'>Há x atividades para hoje.</h2>
      </mat-toolbar>
  </mat-card>

  <div fxLayout='row' fxLayoutAlign='space-around'>
      <mat-card fxFlex='25%' class='mat-elevation-z3'>
          Ontem
      </mat-card>

      <mat-card fxFlex='25%' class='mat-elevation-z3'>
          Hoje
      </mat-card>

      <mat-card fxFlex='25%' class='mat-elevation-z3'>
          Amanhã
      </mat-card>
  </div>
</div>
