mat-card{
  padding: 0px;
  border-radius: 16px;
  height: 150px;
  mat-toolbar{
      height: fit-content;
      border-radius: 16px;
      h1{
          color: white;
          text-shadow: .5px .5px 1px black;
      }
      h2{
          font-size: 18px;
          color: white;
          text-shadow: .5px .5px 1px black;
      }
  }
}
