html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@import "~@angular/material/theming";
@include mat-core();

$eh-primary: mat-palette($mat-indigo, 800);
$eh-accent: mat-palette($mat-amber, 700);
$eh-warn: mat-palette($mat-red);
$eh-theme: mat-light-theme($eh-primary, $eh-accent, $eh-warn);
@include angular-material-theme($eh-theme);
