<div fxLayout='column' fxFlex>
    <mat-card fxLayout='column' fxFlex class='mat-elevation-z3'>
        <mat-toolbar fxLayout='row' fxFlex color='primary'>
            <h1 *ngIf='categoryTableHasData'>Registros</h1>
            <h1 *ngIf='!categoryTableHasData'>Não há registros para dispor</h1>
        </mat-toolbar>

        <table mat-table
            [dataSource]='categoryTableDataSource | materialCategoryFilter: nameValue : statusValue : tablePaginator'
            *ngIf='categoryTableHasData'>

            <ng-container matColumnDef='active' id='active'>
                <th mat-header-cell *matHeaderCellDef>ATIVO</th>
                <td mat-cell *matCellDef='let category'>
                    <mat-checkbox [checked]='category.materialCategoryIsActive' [disabled]='true'></mat-checkbox>
                </td>
                <td mat-footer-cell *matFooterCellDef id='tableFooterLeftEnd'></td>
            </ng-container>

            <ng-container matColumnDef='name'>
                <th mat-header-cell *matHeaderCellDef>NOME</th>
                <td mat-cell *matCellDef='let category'>{{ category.materialCategoryName }}</td>
                <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>

            <ng-container matColumnDef='actions'>
                <th mat-header-cell *matHeaderCellDef>AÇÕES</th>
                <td mat-cell *matCellDef='let actionCategory'>
                    <button mat-icon-button [matMenuTriggerFor]='actionsMenu'>
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #actionsMenu='matMenu'>
                        <button mat-menu-item (click)='openCategoryDescriptionDialog(actionCategory)'>
                            <mat-icon color='primary'>visibility</mat-icon>
                            &nbsp;Descrição
                        </button>
                        <button mat-menu-item [routerLink]='["/category/edit/", actionCategory.materialCategoryId]'>
                            <mat-icon color='primary'>edit</mat-icon>
                            &nbsp;Editar
                        </button>
                        <button mat-menu-item (click)='updateCategoryActiveStatus(actionCategory)'>
                            <mat-icon color='primary'>
                                {{ actionCategory.materialCategoryIsActive ? 'toggle_off' : 'toggle_on' }}</mat-icon>
                            &nbsp;{{ !actionCategory.materialCategoryIsActive ? 'Ativar' : 'Inativar' }}
                        </button>
                        <button mat-menu-item>
                            <mat-icon color='warn'>delete</mat-icon>
                            &nbsp;Excluir
                        </button>
                    </mat-menu>
                </td>
                <td mat-footer-cell *matFooterCellDef id='tableFooterRightEnd'></td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef='columnsToDisplay'></tr>
            <tr mat-row *matRowDef='let row; columns: columnsToDisplay'></tr>
            <tr mat-footer-row *matFooterRowDef='columnsToDisplay'></tr>
        </table>
    </mat-card>
    <mat-paginator [pageSizeOptions]='[5, 10, 20, 30]'></mat-paginator>
</div>